<div class="form-container">
  <div class="container">
    <div class="card">
      <header>
        <h1>{{title}}</h1>
        <!-- Alternative action: Log In/Sign Up -->
        <section class="alt">
          <small>{{{alt}}}</small>
        </section>
      </header>
      <form action="{{action}}" method="POST">
        {{#if register}}
        <!-- Contact Information -->
        <section class="contact">
          <label for="name">Informaci贸n de contacto</label>
          <div class="form-group inline">
            <input type="text" name="firstName" id="firstName" placeholder="Nombre" class="form-control" required />
            <input type="text" name="lastName" id="lastName" placeholder="Apellido" class="form-control" required />
          </div>
          <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Correo electr贸nico" class="form-control"
              required />
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Contrase帽a" class="form-control"
              required />
          </div>
        </section>
        <!-- Default shipping address -->
        <section class="shipping">
          <label for="address">{{addressHeading}}</label>
          <div class="form-group">
            <input type="text" name="address" id="address" placeholder="Direcci贸n" class="form-control"
              class="form-control" required />
          </div>
          <div class="form-group inline">
            <input type="text" name="city" id="city" placeholder="Alcald铆a/Municipio" class="form-control" required />
            <select name="state" id="state" class="form-control" required>
              <option value="" disabled selected>Estado</option>
              <option value="CDMX">CDMX</option>
              <option value="Edo. Mex">Estado de M茅xico</option>
            </select>
          </div>
          <div class="form-group inline">
            <select name="country" id="country" class="form-control" required>
              <option value="" disabled>Pa铆s</option>
              <option value="Mexico" selected><span role="img" aria-label="Bandera de M茅xico">拆</span>M茅xico</option>
            </select>
            <input type="number" name="postalCode" id="postalCode" placeholder="C贸digo Postal" class="form-control"
              required />
          </div>
          <div class="form-group">
            <select name="region" id="region" class="form-control" required>
              <option value="" disabled selected>Regi贸n</option>
              <option value="NORTH">rea Metropolitana Norte</option>
              <option value="CENTER">rea Metropolitana Centro</option>
              <option value="SOUTH">rea Metropolitana Sur</option>
            </select>
          </div>
        </section>
        <!-- Terms & Conditions -->
        <section class="terms">
          <input type="checkbox" name="terms" id="terms" required />
          <label for="terms"><small>Acepto los <a href="#">T茅rminos y Condiciones</a></small></label>
        </section>
        {{else}}
        <section class="login">
          <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Correo electr贸nico" class="form-control"
              required />
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Contrase帽a" class="form-control"
              required />
          </div>
        </section>
        {{/if}}
        <button type="submit" class="btn btn-color">{{button}}</button>
      </form>
    </div>
  </div>
</div>

<!-- Changes the nav backgorund to white on load -->
<script>
  window.onload = () => {
    document.querySelector('nav').style.backgroundColor = 'white'
  }
</script>