<div class="dashboard">
  <aside>
    <ul>
      <li>
        <a href="/perfil">
          <img src="/images/icons/user.svg" alt="perfil" />
          <span>Perfil</span>
        </a>
      </li>
      <li>
        <a href="/perfil/editar">
          <img src="/images/icons/edit.svg" alt="editar" />
          <span>Editar perfil</span>
        </a>
      </li>
      <li>
        <a href="/salir">
          <img src="/images/icons/log-out.svg" alt="perfil" />
          <span>Cerrar sesi贸n</span>
        </a>
      </li>
    </ul>
  </aside>
  <section class="container">
    <h1>Mis datos</h1>
    <!-- Form -->
    <form action="/perfil/editar" method="POST">
      <!-- Contact Information -->
      <section class="contact">
        <label for="name">Contacto</label>
        <div class="form-group inline">
          <input type="text" name="firstName" id="firstName" placeholder="Nombre" class="form-control"
            value="{{firstName}}" required />
          <input type="text" name="lastName" id="lastName" placeholder="Apellido" class="form-control"
            value="{{lastName}}" required />
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Correo electr贸nico" class="form-control"
            value="{{email}}" required />
        </div>
      </section>
      <!-- Default shipping address -->
      <section class="shipping">
        <label for="address">Direcci贸n de env铆o</label>
        <div class="form-group">
          <input type="text" name="address" id="address" placeholder="Direcci贸n" class="form-control"
            class="form-control" value="{{location.address}}" required />
        </div>
        <div class="form-group inline">
          <input type="text" name="city" id="city" placeholder="Alcald铆a/Municipio" class="form-control"
            value="{{location.city}}" required />
          <select name="state" id="state" class="form-control" required>
            <option value="" disabled selected>Estado</option>
            <option value="CDMX">CDMX</option>
            <option value="Edo. Mex">Estado de M茅xico</option>
          </select>
        </div>
        <div class="form-group inline">
          <select name="country" id="country" class="form-control" required>
            <option value="" disabled>Pa铆s</option>
            <option value="Mexico" selected><span role="img" aria-label="Bandera de M茅xico">拆</span>M茅xico
            </option>
          </select>
          <input type="number" name="postalCode" id="postalCode" placeholder="C贸digo Postal" class="form-control"
            value="{{location.postalCode}}" required />
        </div>
        <div class="form-group">
          <select name="region" id="region" class="form-control" required>
            <option value="" disabled selected>Regi贸n</option>
            <option value="NORTH">rea Metropolitana Norte</option>
            <option value="CENTER">rea Metropolitana Centro</option>
            <option value="SOUTH">rea Metropolitana Sur</option>
          </select>
        </div>
      </section>
      <button type="submit" class="btn btn-color">Actualizar</button>
    </form>

  </section>
</div>