<a href="/producto/{{this.id}}" class="product">
  <img src="{{this.image}}" alt="{{this.name}}">
  <h3>{{this.name}}</h3>
  <p><span class="price">${{this.price}}</span> <span class="unit">por {{this.unit}}</span></p>
</a>