<article class="product">
  <img src="{{this.image}}" alt="{{this.name}}">
  <h3>{{this.name}}</h3>
  <p><span class="price">${{this.price}}</span> <span class="unit">por {{this.unit}}</span></p>
  <div class="flex-start">
    <a href="/producto/{{this.id}}/actualizar">
      <img src="/images/icons/edit.svg" alt="Editar" />
    </a>
    <a href="/producto/{{this.id}}/borrar">
      <img src="/images/icons/trash.svg" alt="Borrar" />
    </a>
  </div>
</article>