<div class="single">
  <div class="grid g-1 wrapped">
    <img src="{{currentProduct.image}}" alt="{{currentProduct.name}}" />
    {{!-- Sticky --}}
    <div class="sticky">
      <div class="heading container">
        <a href="/productos/{{currentProduct.category}}">
          <h2>{{currentProduct.category}}</h2>
        </a>
        <h1>{{currentProduct.name}}</h1>
        <p>${{currentProduct.price}} el {{currentProduct.unit}}</p>
      </div>
      <div class="description container">
        <p>{{currentProduct.description}}</p>
      </div>
      <form method="POST" class="container">
        <div>
          <label for="qty">Cantidad:</label>
          <input type="number" name="qty" id="qty" class="form-control" />
        </div>
        <button type="submit" class="btn btn-color">Añadir al carrito</button>
      </form>
    </div>
  </div>

  {{!-- Upsells --}}
  <div class="upsells">
    <h2 class="container wrapped">También te podrían interesar</h2>
    <div class="scroll wrapped">
      {{#each relatedProducts as |product|}}
      {{> productCard product}}
      {{/each}}
    </div>
  </div>
</div>

<script>
  document.querySelector('form').addEventListener('submit', e => e.preventDefault())
</script>